.questions {
  display: grid;
  grid-template-columns: 1fr  1fr 1fr;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
    
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    
  }
}