.container {
    padding: 1rem;
    margin: 2rem;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 18px;
    color: #333;
}

.link {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}