@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
  --color-primary: #FFC72C;
  --color-secondary: #1D428A;
  --color-success: #28A745;
  --color-danger: #DC3545;
  --color-warning: #FFC107;
  --color-info: #17A2B8;
  --color-light: #F8F9FA;
  --color-dark: #343A40;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  font-family: 'Overpass', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}
